body {
    background-color: #291600;
    padding-top: 1vw;
    margin-left: 3vw;
    padding-left: 2vw;
    font-family: 'Tajawal';
    display: inline-block;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
}

.fixed {
    position: fixed;
    padding-top: 1vw;
    top: 0;
    right: 0;
    width: 6vw;
    height: 70vh;
    margin-left:1vw;
}

.respimage  {
    width: 100%;
    height: auto;
    padding-bottom: 5vh;
}
#link{
    position: fixed;
    top: 80vh;
    right: 0;
    width: 4.5vw;
    height: 15vh;
    padding-right:0;
}
a{
    color:white;
}
a:link{
    text-decoration: none;
}
.sidebar {
    -webkit-transform:rotate(90deg);
    -webkit-transform-origin: center;
    font-size:3vh;
}

h1 {
    color: white;
    font-size: 4vw;
}
h2  {
    color: #F2E9E4;
    font-size: 3vw;
}
h3  {
    color: white;
    font-size: 2vw;
    font-style: oblique;
}
h4{
    color: white;
    font-size: 1vw;
}

p {
    color: white;
    font-size: 1.5vw;
    padding-left: 2vw;
}
.fa {
    padding-left: 0.5vw;
    padding-top: 1vw;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 50%;
    font-size: 0.7vw;
}
.fa:hover {
    opacity: 50%;
}
.fa-instagram {
    color: white;
}

.fa-linkedin-square {
    color: white;
}

.fa-envelope-o    {
    color: white;
}

.typewriter h1 {
    overflow: hidden;
    border-right: 1vw solid white; /* The typwriter cursor */
    white-space: nowrap;
    letter-spacing: .6vw;
    animation: 
        typing 3s steps(17, end) 1s 1 normal both,
        blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 48%}
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    20% { border-color: white; }
}

.typewriter span  {
    color: #8E6C88;
}

.container {
    display: grid;
    grid-gap: 0.1vw;
    grid-template-columns: 25vw 25vw 25vw;

    align: left;
    background-color: #291600;
    padding-left: 2vw;
    width: 80vw;

}

.container > div {
    background-color: #607744;
    margin: .5vw;
    padding: 1vw;
}