.tab {
  position: fixed;
  right:0;
  top:0;
  border: 1px solid #6D8B74;
  background-color: #5F7161;
  width: 10%;
  height: 100%;
  font-family: 'Tajawal';
}

.tab button {
  display: block;
  background-color: inherit;
  color: #ebe4dd;
  font-size: 1vw;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: right;
  cursor: pointer;
  font-family: 'Tajawal';
}

.tab button.active {
  background-color: #EFEAD8;
  color: #5F7161;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 0;
  width: 90%;
  border-left: none;
  height: 300px;
  display: none;
}
.container {
    display: grid;
    grid-gap: 0.1vw;
    grid-template-columns: 25vw 25vw 25vw;

    align: left;
    background-color: #6D8B74;
    padding-left: 2vw;
    width: 80vw;

}

.container > div {
    background-color: #5F7161;
    margin: .5vw;
    padding: 1vw;
}


.typewriter h1 {
    overflow: hidden;
    border-right: 1vw solid #ebe4dd; /* The typwriter cursor */
    white-space: nowrap;
    letter-spacing: .6vw;
    animation: 
        typing 3s steps(17, end) 1s 1 normal both,
        blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 38vw}
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    20% { border-color: #ebe4dd; }
}

@media only screen and (max-width: 600px) {
    @keyframes typing {
        from { width: 0 }
        to { width: 43vw}
    }
}

.typewriter span  {
    color: #5F7161;
}
body {
    background-color: #6D8B74;
    padding-top: 1vw;
    margin-left: 3vw;
    padding-left: 2vw;
    font-family: 'Tajawal';
    display: inline-block;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
}

h1 {
    color: #EFEAD8;
    font-size: 4vw;
}
h2  {
    color: #EFEAD8;
    font-size: 3vw;
}
h3  {
    color: #ebe4dd;
    font-size: 2vw;
}
h4{
    color: #ebe4dd;
    font-size: 1vw;
    font-style: oblique;
}

p {
    color: #ebe4dd;
    font-size: 1.5vw;
    padding-left: 2vw;
}

.fixed {
    position: fixed;
    padding-top: 1vw;
    top: 0;
    right: 0;
    width: 6vw;
    height: 70vh;
    margin-left:1vw;
}
a{
    text-decoration: none;
    color: #ebe4dd;
}
